.none {
	display: none;
}
/*******--------------HEADER STYLE--------------*******/
#top-header {
	background-color: #03599b;
	padding: 15px 0;
}

#top-header .slogan h3 {
	font-family: "Segoe Print", Arial, sans-serif;
	font-size: 16px;
	color: #FFF;
}

#top-header .logo {
	border-right: 1px solid #FFF;
	text-align: right;
}

.top-menu ul {
	padding: 10px 0 0 0 !important;    
}

.top-menu ul li {
	list-style: none;
	display: inline-block;
}

.top-menu ul li a {
	font-size: 14px;
	color: #88ccff;
	margin-left: 20px;
	font-weight: 600;
	text-decoration: none;
	outline: none;
}

.top-menu ul li a.favorite {
	background: #00467c url(../images/favorite.png) no-repeat 12px center;
	padding: 5px 15px 5px 30px;
	border-radius: 10px;
	color: #FFF;
}

.top-menu ul li a.cart {
	background: #00467c url(../images/cart.png) no-repeat 12px center;
	padding: 5px 15px 5px 30px;
	border-radius: 10px;
	color: #FFF;
	margin-left: 10px;
}

.top-menu .hotline {
	font-size: 14px;
	color: #FFF;
	margin-top: 5px;
}

.top-menu .hotline h4 {
	color: #e36f22;
	display: inline;
	font-size: 18px;
	font-weight: bold;
}

#main-menu {
	background: #00467c;
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
}

#main-menu .nav.navbar-nav > li {
	margin-right: 15px;
}

#main-menu .nav.navbar-nav > li:last-child {
	margin: 0;
}

#main-menu .navbar-nav > li > a {
	font-size: 13px;
	font-weight: bold;
	color: #FFF !important;
	padding: 10px 15px !important;
}

#main-menu .navbar-nav > .active > a, #main-menu .navbar-nav > .active > a:hover, #main-menu .navbar-nav > .active > a:active, 
#main-menu .navbar-nav > li > a:hover, #main-menu .navbar-nav > li > a:active, #main-menu .navbar-nav > li > a:focus {
	color:#ff9600 !important;
	background:none;
}

#main-menu .navbar-toggle{
	background: #03599b !important;
}

#main-menu .icon-bar {
	background: #FFF;
}

#slider {
	background: url(../images/bg.jpg) no-repeat center center; 
	height: 406px;
}
/*******------------END HEADER STYLE------------*******/

/*******------------FOOTER STYLE------------*******/
footer {
	background: #03599b;
	width: 100%;
	padding: 25px 0;
}

footer .col-md-3 > p {
	color: #FFF;
	margin-top: 10px;
	font-size: 13px;
}

footer h3.footer-heading {
	font-size: 14px;
	color: #FFF;
	display: inline-block;
	font-weight: bold;
	margin: 0 0 20px 0;
	border-bottom: 2px solid #FFF;
}

footer .col-md-2 > ul {
	padding: 0 !important;
	list-style: none;
}

footer .col-md-2 > ul li a {
	color: #FFF;
	font-size: 13px;
}

footer .social {
	overflow: hidden;
	width: 100px;
}

footer .social > a {
	display: inline-block;
	float: left;
	margin: 0 7px 7px 0;
}

.footer-bottom {
	background: #004274;
	float: left;
	width: 100%;
}

.footer-bottom h5 {
	margin: 0;
	padding: 10px 0;
	text-align: center;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
}

footer > .row > div.col-xs-12 {
	text-align: center;
}

.quick-link  li {
	background: url('../images/white-right-arrow.png') no-repeat left center;
	padding: 5px 0 5px 20px;
}
/*******------------END FOOTER STYLE------------*******/

/*******------------HOME STYLE------------*******/
#guarantee {
	background-color: #e0e0e0;
	padding: 20px 0 15px 0;
}

#guarantee ul {
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
}

#guarantee ul li {
	list-style: none;
	display: inline-block;
	display: table-cell;
}

#guarantee ul li.guarantee-check {
	background: url('../images/orange-check.png') no-repeat 5px 8px;
	padding-left: 40px;
}

#guarantee ul li h5 {
	color: #e36f22;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 3px 0;
}

#guarantee ul li:first-child {
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
	color: #e36f22;	
}

#home .row{
	margin: 0;
}

.container .title {
	margin: 30px 0 20px 0;
}
.container .title h2 {
	font-size: 24px;
	font-weight: bold;
	color: #e36f22;
	display: inline-block;
	margin: 0;
	padding-left: 5px;
}

.container .title img {
	vertical-align: baseline;
}

#tour-destination .thumbnail {
	position: relative;
	padding: 0;
	border: none;
}

#tour-destination .thumbnail img {
	width: 100%;
	border-radius: 3px;
}

#tour-destination .thumbnail .img-caption {
	position: absolute;
	bottom:0px;
	left: 0;
	height: 40px;
	width: 100%;
	background: rgba(0,0,0,0.4);
	padding-left: 20px;
	color: #FFF;
	font-weight: bold;
	font-size: 18px;
	border-radius: 0 0 6px 6px;
}

#tour-destination .col-xs-6.col-md-4 {
	padding: 0;
	width: 31.9%;
	margin-right: 20px;
}

#tour-destination .col-xs-6.col-md-4:nth-child(3n) {
	margin-right: 0;
}

#vietnam-tour .viewmore {
	text-decoration: none;
	border-bottom: 1px solid #03599b;
	color: #03599b;
	font-size: 12px;
}

#vietnam-tour .viewmore:hover {
	text-decoration: none;
}

#subcribe-btn {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	background: #e36f22;
	box-shadow: 0 0 2px 1px rgba(185,75,2,.3) inset, 0 1px 0 rgba(0,0,0,.3);
}

#subcribe-btn:hover {
	background: #ed6003;
	border-color: #b94b02;
}

#deal {
	background: #e0e0e0;
	padding: 10px 0;
}

#deal .col-md-7, #deal .col-md-5 {
	padding: 0
}

#deal h2, #deal span, #deal form {
	display: inline-block;
}

#deal h2 {
	font-weight: bold;
	font-size: 24px;
	color: #e36f22;
	margin: 0 12px 0 0;
}

#deal form input {
	width: 300px;
	border-radius: 0;
}

#deal form #signup-btn {
	background: #03599b;
	border-radius: 0;
	font-weight: bold;
	color: #FFF;
	padding: 5px 12px;
}
/*******------------END HOME STYLE------------*******/

/*******------------ MODULE INSIDER STYLE------------*******/
#insider {
	background: #e36f22;
	padding: 20px 15px;
	margin-bottom: 25px;
}

#insider > div {
	font-weight: bold;
	color:#FFF;
	font-size: 20px;
}

#insider > p {
	margin-top: 12px;
	font-weight:bold;
	color: #FFF;
}

#insider h1 {
	color: #fff000;
	font-weight: 700;
	font-size: 25px;
	margin:0;
	padding-bottom: 12px;
	border-bottom: 3px solid #FFF
}

#right {
	padding:0; 
}

#insider .inside-btn {
	text-align: center;
}

#insider .inside-btn a {
	font-size: 15px;
	font-weight:bold;
	color:#FFF;
	background: #03599b;
	border-radius: 4px;
	padding: 10px 12px;
}
/*******------------END MODULE INSIDER STYLE------------*******/

/*******------------END MODULE NEED HELP STYLE------------*******/
#need-help {
	background: #e36f22;
	padding: 20px 15px;
	margin-bottom: 25px;
}

#need-help h1 {
	color: #FFF;
	font-weight: 700;
	margin:0;
	padding-bottom: 10px;
	border-bottom: 3px solid #FFF;
}

#need-help p {
	margin-top: 10px;
	font-weight: bold;
	color: #FFF;
}

#need-help p a {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
	line-height: 18px;
	margin-right: 5px;
}

#need-help p img {
	width: 15px;
	margin-right: 12px;
}
/*******------------END MODULE NEED HELP STYLE------------*******/

/*******------------ MODULE THINGS TO DO STYLE------------*******/
.blue-panel {
	background: #03599b;
	padding: 20px 15px;
	margin-bottom: 25px;
}

.blue-panel .panel-header {
	padding-bottom: 10px;
	border-bottom: 3px solid #FFF;
	margin: 0 0 15px 0;
}

.blue-panel .panel-header h1 {
	color: #FFF;
	font-size: 25px;
	font-weight:bold;
	display: inline-block;
	margin: 0 0 0 10px;
}

.blue-panel .panel-header img {
	vertical-align: text-bottom;
}

.blue-panel ul {
	padding:0;
	list-style: none;
}

.blue-panel ul li {
	padding: 5px 0;
	border-bottom: 1px dashed #2c74ab;
}

.blue-panel ul li:last-child {
	border-bottom: 0;
}

.blue-panel ul li a {
	color: #FFF;
}

.blue-panel ul li a.active, .blue-panel ul li a:hover {
	color: #ff8c40;
	text-decoration: none;
}

.blue-panel a.all-things {
	font-weight: bold;
	color: #ff8c40;
}
/*******------------END MODULE THINGS TO DO STYLE------------*******/
